@import "../../utils/variables.scss";


.companies-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  user-select: none;
}

.previous-page-button, .next-page-button{
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
}